.navbar {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    border-color: grey;
    background-color: #e5af38;
}

.nav-logo {
    width: 100px;
    height: 100px;
}
.nav-logo img {
    display: flex;
    align-items: last baseline;
    margin: 10px 10px;
    width: 70%;
    height: 70%;
    border-radius: 5px;
}
.nav-login {
    display: flex;
    align-items: last baseline;
    align-content: center;
    margin-right: 10px;
}

.nav-login button {
    width: 160px;
    height: 58px;
    color:#7c6f55;
    font-size: 20px;
    font-weight: 600;
    background: #e5af38;
    border-color: #e5af38;
    cursor: pointer;
    margin-left: 10px;
}

@media(max-width:1280px) {
    .navbar {
        padding: 12px 50px;
    }
    .nav-logo img {
        width: 70%;
        height: 70%;
    }
    .nav-login button {
        width: 140px;
        height: 48px;        
    }
}
@media(max-width:1024px) {
    .navbar {
        padding: 12px 30px;
    }
    .nav-logo img {
        width: 70%;
        height: 70%;
    }
    .nav-login button {
        width: 130px;
        height: 40px;        
    }
}


@media(max-width: 800px){
    .navbar {
        display:flex;
        flex-direction: column;
        padding: 10px 0px;
    }
    .nav-logo img {
        width: 70%;
        height: 70%;
    }
    .nav-login button {
        width: 130px;
        height: 40px;        
    }
}

@media(max-width: 500px){
    .navbar {
        display:flex;
        flex-direction: column;
        padding: 10px 0px;
    }

    .nav-login button {
        width: 100px;
        height: 40px;        
    }
}